# .gitignore
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual env
venv/
env/

# VS Code / JetBrains IDEs
.vscode/
.idea/

# System
.DS_Store
*.swp

# Mac/Linux temp files
*.bak
*.tmp
